



 body {background-color: #ffe8d6;}
 body {color:#028090;}
 body {font-size: 20px;}
 hr {border-color: #fc8a15;
   border-style: none;
   border-top-style: dotted;
   border-width: 20px;

     height: 45px;
     width: 40%;
 }
 h1 {color: #028090;}
 h3 {color:#028090;}
